.recipesVideos-container {
  padding: 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  .recipesVideos {
    display: flex;
    flex-direction: column;
    .recipes-videos-item {
      a {
        img:nth-child(1) {
          margin: 1rem 0;
        }
        img {
          width: 100%;
          border-radius: 10px;
          margin: 0 0 1rem;
          @media screen and (min-width: 768px) {
            width: 25rem;
            height: 15rem;
          }
        }
      }
    }
    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex: 1;
      flex-wrap: wrap;
      gap: 2rem;
    }
  }
}
